<% if @category.errors.any? %>
    <% @category.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
    <% end %>
<% end %>
<%= form_with model: @category do |f| %>
    <p>
        <%= f.label :name %>
        <%= f.text_field :name %>
    </p>

    <p>
        <%= f.label :code %>
        <%= f.text_field :code %>
    </p>

    <%= f.submit submit %>
<% end %>