<div>
    <%= flash[:notice] %>
</div>
<%= @promotion.name %>
<%= @promotion.description %>
<%= @promotion.code %>
<%= @promotion.discount_rate %>
<%= @promotion.coupon_quantity %>
<%= @promotion.expiration_date %>

<%= link_to  "Return", promotions_path %>
<%= link_to  "Edit Promotion", edit_promotion_path(@promotion) %>
<%= link_to  "Delete Promotion", delete_promotion_path(@promotion) %>
<%= link_to  "Generate Coupons", generate_coupons_promotion_path(@promotion) %>

<hr>

<% @promotion.coupons.each do |coupon| %>
    <div id="coupon_code_<%= coupon.id %>">
        <%= coupon.code %>
        <% if coupon.inactive? %>
        (Inactive)
        <%= link_to  "Activate", activate_coupon_path(coupon) %>
        <% else %>
            <%= link_to  "Inactivate", inactivate_coupon_path(coupon) %>
        <% end %>
    </div>
<% end %>